<h1>Grow Room</h1>
<%= link_to "Grow Rooms Strain's", "/grow_rooms/#{@grow_room.id}/strains" %>
<p>Name: <%= @grow_room.name %></p>
<p>is_flower: <%= @grow_room.is_flower %></p>
<p>plant_capacity: <%= @grow_room.plant_capacity %></p>
<p>Number of Strains: <%= @strain_count %></p>